{% extends '@SyliusShop/shared/layout/base.html.twig' %}
{# {% extends '@SyliusShop/checkout/common/layout.html.twig' %} #}

{% block content %}
	<div class="container">
		{{component('MudrakOnePageCheckoutPlugin:OnePageCheckoutComponent', {
			orderId: order.id
		})}}
	</div>

{% endblock %}
